---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Work" }}</h3>

{% if paginator %}
  {% assign portfolio = paginator.portfolio %}
{% else %}
  {% assign portfolio = site.portfolio %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in portfolio %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

<!--{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html collection=page.collection sort_by=page.sort_by sort_order=page.sort_order type=entries_layout %}
</div>-->



  


{% include paginator.html %}
